* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
	color: rgb(4, 94, 230);
	text-decoration: none;
}

h1 {
	margin: 10px 20px;
}
